    /* Index page Styling */
.body{
background-color: #d7ccc7;
}
.links{
    background-color: #78efff;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#stu{
    color:#1225f2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tab{
    border: 1px solid black;
    width: 20%;

   }
.th {
background-color: antiquewhite;
border: 2px solid black;
font-style: italic;
padding: 10px;


}
.Intro{
    color:#1225f2;
}

/* Project page Styling */
    #pbody{
        background-color: #d7ccc7;
        }
    #a{
        color:rgb(47, 4, 239);
    
    }
    #p{
        color: rgb(20, 20, 20);
    }
/* Contact styling */
.body{
    background-color:#d7ccc7 ;
}
    .form{
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        background-color: #89bcb1;
        border-radius: 8px;
    }
    #legend{
        font-weight: bold;
            text-align: center;
        
        font-style: oblique;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    .text{
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #000000;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .submit{
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #000000;
        border-radius: 4px;
        box-sizing: border-box;
        font-weight: bold;
        font-size: large;
    }
    
    .sbody{
        background-color: #d7ccc7;
        #s{
            color: #1225f2;
        }
    }